<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BodyArchitect.Module.StrengthTraining.Options.StrengthTraining" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FM.StrengthTraining.Options.StrengthTraining" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BodyArchitect.Module.StrengthTraining.Options.StrengthTraining>
            <setting name="FillRepetitionNumberFromPlan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowExtendedInfoInSets" serializeAs="String">
                <value>True</value>
            </setting>
        </BodyArchitect.Module.StrengthTraining.Options.StrengthTraining>
        <FM.StrengthTraining.Options.StrengthTraining>
            <setting name="FillRepetitionNumberFromPlan" serializeAs="String">
                <value>True</value>
            </setting>
        </FM.StrengthTraining.Options.StrengthTraining>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" /></startup></configuration>
