<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BodyArchitect.Settings.GuiState" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BodyArchitect.Settings.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FM.Settings.ReportingOptions" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FM.Settings.GuiState" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FM.Settings.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BodyArchitect.Settings.GuiState>
            <setting name="ShowToolTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowRelativeDates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SmartEditingDataGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CalendarViewMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowExerciseTypeColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRestTimeColumns" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartTimerAfterOpeningWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveGUI" serializeAs="String">
                <value>True</value>
            </setting>
        </BodyArchitect.Settings.GuiState>
        <BodyArchitect.Settings.Settings1>
            <setting name="ExerciseComboBoxSelectedItem" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoLoginUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="SerieNumberComboBoxSelectedItem" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="AskForSendingExceptions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendExceptionsWithoutQuestion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClientInstanceId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="LogStandardEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogErrorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AskForImportExercises" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoLoginPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Expect100Continue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WeightType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LengthType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FacebookToken" serializeAs="String">
                <value />
            </setting>
        </BodyArchitect.Settings.Settings1>
        <FM.Settings.ReportingOptions>
            <setting name="TemplateFile" serializeAs="String">
                <value>SkyBlue.bart</value>
            </setting>
            <setting name="AllowZoom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowValues" serializeAs="String">
                <value>False</value>
            </setting>
        </FM.Settings.ReportingOptions>
        <FM.Settings.GuiState>
            <setting name="ShowToolTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NewsPanelSize" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="MyExerciseId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="A6WTrainingId" serializeAs="String">
                <value>0</value>
            </setting>
        </FM.Settings.GuiState>
        <FM.Settings.Settings1>
            <setting name="ExerciseComboBoxSelectedItem" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoLoginProfileId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SerieNumberComboBoxSelectedItem" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="AskForSendingExceptions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendExceptionsWithoutQuestion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClientInstanceId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="LogStandardEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogErrorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AskForImportExercises" serializeAs="String">
                <value>True</value>
            </setting>
        </FM.Settings.Settings1>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" /></startup>
</configuration>
